<div class="row-fluid"  id="message-board">
	<div class="span12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Message</th>
					<th>Votes</th>
				</tr>
			</thead>
			<tbody>
				<% if (models.length>0) {
					_.each(models, function (value,key, list) { %>
						<tr>
							<td><%= value.attributes.username %></td>
							<td><%= value.attributes.message %></td>
							<td><%= value.attributes.votes %>&nbsp;<a data-id=<%= value.cid %> class="btn btn-success upvote">&uarr;</a>&nbsp;<a data-id=<%= value.cid %> class="btn btn-danger downvote">&darr;</a></td>
						</tr>
					<% });
				}
				else { %>
				<tr>
					<td colspan="3">No messages yet</td>						
				</tr>
				<%}%>
			</tbody>
		</table>
	</div>
</div>
<div class="row-fluid"  id="new-message">
	<div class="span12">
		<form class="well form-inline">
		  <input type="text" name="username" class="input-small" placeholder="Username" /><br/><br/>
		  <textarea class="input-xlarge" id="textarea" rows="3" name="message" placeholder="Message Text"></textarea>
		  <a id="send" class="btn btn-primary">Submit an Idea</a>
		</form>
	</div>
</div>
